@model IEnumerable<LibraryCW.Models.Department>

@{
    ViewData["Title"] = "Отделы библиотеки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список отделов</h1>

<p>
    <a asp-action="Create">Добавить новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить запись</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Информация о записи</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить запись</a>
            </td>
        </tr>
}
    </tbody>
</table>
